h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
    width: 100%;
    justify-content: center;
}

.title {
    margin: 2rem;
}

.card {
    box-shadow: 0 0 0 0;
    transition: 0.3s;
    height: 38rem;
    margin-top: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    border-width: 2px;
    border-color: white;
}

.card-stack {
    display: grid;
    width: 100%;
    padding: 1rem;
    grid-gap: 0.25rem;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template: "nav main" 1fr min-content 1fr; */
}

.card-body {
    text-align: center;
    font-size: 1rem;
    padding-top: 15rem
}

.fighter-href {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17rem;
    padding-top: 2rem;
}

.dropdown {
    color: white;
    background-color: black;
    width: 100%;
    padding: 1rem;
}

.Select-input>input{
    color: white;
}

.Select-control, .Select-multi-value-wrapper, .Select-menu, .Select-menu-outer, .Select-arrow-zone{
    border-radius: 1px;
    background-color: black;
    color: white;
}
  
.card:hover {
    box-shadow: 6px 6px 1px 1px;
    margin: 1.2rem;
}

.card-header {
    text-align: center;
    border-radius: 1rem;
}

body {
    font-size: clamp([min font size], calc([min font size] + ([max font size] - [min font size]) * ((100vw - [min viewport width]) / ([max viewport width] - [min viewport width]))), [max font size]);
}

/* .main-svg {
    background: black;
}*/




